{% extends 'base.html' %}
{% block title %}
    Assignment4_outer_source
{% endblock %}
<body>
<div id="container">
    <div id="item1">Assignment4_outer_source</div>
    <div id="item3">
        {% block item3 %}
            <h1>frontend</h1>
            <form action="/assignment_4/outer_source" id="frontend" method="POST">
                <label class="frontend">id:</label>
                <input type="text" class="frontend_id" id="frontend_id" name="frontend_id" required><br>
                <button id="submit" onclick="getUser()" type="button">Submit</button>
            </form><br>

            <div class="center">
                <p id="userdata"></p>
            </div>
            <h1>backend</h1>
            <form action="/assignment_4/outer_source" id="backend_id" method="POST">
                <label class="backend">id:</label>
                <input type="text" class="backend_id" id="backend_id" name="backend_id" required><br>
            </form>
            <input type="submit" form="backend_id">
        {% endblock %}

    </div>

</div>
</div>
</body>
