{% extends 'base.html' %}
{% block title %}
    Contact
{% endblock %}

<body>
<div id="container">
    <div id="item1">{% block item1 %}Home{% endblock %}</div>
    <form id="item3">
        {% block item3 %}
            <b><label for="FirstName">First Name:</label></b>
            <input type="text" id="FirstName" name="FirstName"><br><br>
            <b><label for="LastName">Last Name:</label></b>
            <input type="text" id="LastName" name="LastName"><br><br>
            <b><label>Gender:</label></b><br>
            <input type="radio" id="male" name="gender">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender">
            <label for="other">Other</label><br><br>
            <b><label for="age">Age:</label></b>
            <input type="number" name="age" id="age" min="1" max="200" step="1"><br><br>
            <b><label for="email">Email:</label></b>
            <input type="email" id="email" name="email"><br><br>
            <b><label for="phone">Phone:</label></b>
            <input type="tel" id="phone" name="phone"><br><br><br>
            <b><label for="comment">leave a comment:</label></b><br>
            <textarea id="comment" name="comment" cols="30" rows="3"></textarea><br>
            <button type="reset">Reset</button>
            <input type="submit"><br>
        {% endblock %}
    </form>
</div>
</body>