{% extends 'base.html' %}
{% block title %}
    Contact
{% endblock %}

<body>
<div id="container">
    <div id="item1">{% block item1 %}Home{% endblock %}</div>
    {% block item3 %}
        <form id="item3" action="/contact" methods=['GET','POST']>
            <b><label for="FirstName">First Name:</label></b>
            <input type="text" id="FirstName" name="FirstName" required><br><br>
            <b><label for="LastName">Last Name:</label></b>
            <input type="text" id="LastName" name="LastName" required><br><br>
            <b><label>Gender:</label></b><br>
            <input type="radio" id="male" name="gender">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender">
            <label for="other">Other</label><br><br>
            <b><label for="age">Age:</label></b>
            <input type="number" name="age" id="age" min="1" max="200" step="1"><br><br>
            <b><label for="email">Email:</label></b>
            <input type="email" id="email" name="email" required><br><br>
            <b><label for="phone">Phone:</label></b>
            <input type="tel" id="phone" name="phone" required><br><br><br>
            <b><label for="comment">leave a comment:</label></b><br>
            <textarea id="comment" name="comment" cols="30" rows="3" required></textarea><br>
            <button type="reset">Reset</button>
            <button type="submit" class="Submitbtn">Submit</button>
        </form>
    {% endblock %}
</div>
</body>