<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='design.css') }}">
    <script defer src="../static/ActiveNavBar.js"></script>
    <title>assignment3_2</title>
    <style></style>
</head>
<body>
<div id="container">
    <div id="item1">Assignment3_2</div>
    {% include('nav.html') %}
    <div id="item3">
        <h1>Welcome to Log-In Page</h1>
        {% if name %}
            Welcome {{ name | upper() }}
        {% else %}
            {% if message %}
                {{ message }}
            {% endif %}
        {% endif %}
        <h2>Login Form:</h2>
        <form action="/log_in" method="post">
            <input type="text" name="name" placeholder="User Name">
            <input type="password" name="password" placeholder="****">
            <input type="submit"></form>
        <br>
        {% if name %}
            {{ name }}
            Email: {{ email }}
        {% endif %}

        {% if message %}
        {% endif %}
        {{ message }}
        {% if users %}
            <ol>
                {% for k,v in users.items() %}
                    Name: {{ k }}<br>
                {% endfor %}
            </ol>
        {% endif %}

    </div>
</div>
</div>
</body>
{% include('footer.html') %}
</html>